<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ブース編集</h2>
      <%= render partial: "form", locals: { booth: @booth } %>
    </div>
  </div>
</div>